*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Sans-Serif;
}
body{
  background-color: #edeaff;
}

.container{
  
  height: 400px;
  width: 500px;
  margin-left: 280px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 4px black;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 1;
  }
}
.left{
  background-color: blue;
  margin-left: 20px;
  margin-right: 1000px;
  border: 2px solid navy;
  width: 400px;
  margin: 50px;
  
  
}
.right{
  background-color: navy;
  margin-left: 420px;
  margin-bottom: 800px;
  
  border: 2px solid blue;
  width: 390px;
  margin-top: 1px;
  height: 450px;
}
input{
  border: 2px solid red;
  margin-left: 50px;
  margin-top: 100px;
  border-radius: 5px;
  width: 280px;
  height: 40px;
  margin-bottom: 0px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  color: red;
  
}




input:focus{
  outline: none;
}
input::placeholder{
  color: red;
}

.fa-phone{
   
   margin-left: 5px;
   width: 50px;
   height: 40px;
   color: red;
   font-size: 20px;
   
}
.fa-key{
   
   margin-left: 5px;
   width: 50px;
   height: 40px;
   color: red;
   font-size: 20px;
}
h1 {
  color: red;
  margin: 150px;
}
.btn{
  text-align: center;
  margin-top: 10px;
  
  width: 250px;
  margin: 15px;
  justify-content: center;
  margin-left: 150px;
  margin-top: 70px;
  border-radius: 100px;
}
button{
      color: red;
      font-weight: bold;
      width: 110px;
      height: 40px;
      background-color: transparent;
      border-radius: 50px;
      border: 2px solid red;
      border-top: 1px;
      border-bottom: 1px;
      animation: circle 1s linear infinite;
      cursor: pointer;
}
@keyframes circle {
  50% {
    rotate('360deg');
  }
}
button:hover{
  border: 2px solid red;
  border-left: 1px;
  border-right: 1px;
}

span{
   font-size: 25px;
   margin-left: 20px;
   color: red;
   font-weight: bold;
   overflow: hidden;
}